.video-lessons {
  padding: 40px;
  text-align: center;
  margin-top: 400px;
  margin-bottom: 100px;
}

.video-container {
  max-width: 800px;
  margin: 0 auto;
}

iframe {
  border-radius: 10px;
}

.video-info {
  margin-top: 20px;
}

.video-list {
  display: flex;
  flex-direction: row;
  justify-content: center; /* This will center the video thumbnails */
  flex-wrap: wrap; /* Allows wrapping of thumbnails on smaller screens */
  margin-top: 20px;
}

.video-thumbnail {
  background-color: #f0f0f0;
  padding: 15px;
  margin: 10px;
  width: 250px; /* Set a fixed width for the thumbnails */
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  text-align: center; /* Center the text inside the thumbnail */
}

.video-thumbnail:hover {
  background-color: #e0e0e0;
}

/* Video Lessons Styling */
.video-lessons {
  padding: 40px;
  text-align: center;
}

.video-container {
  max-width: 100%;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
